<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856110967940-hg9svjgbs65bibo7vf3rcrp49rp4ha79.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856110967940-hg9svjgbs65bibo7vf3rcrp49rp4ha79</string>
	<key>API_KEY</key>
	<string>AIzaSyBDSzTzI3PFD0QcoM-FVWgV439oBmHfrSo</string>
	<key>GCM_SENDER_ID</key>
	<string>856110967940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.stanford.aroram8.WhatTimeWorks</string>
	<key>PROJECT_ID</key>
	<string>whattimeworks-4d9ed</string>
	<key>STORAGE_BUCKET</key>
	<string>whattimeworks-4d9ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856110967940:ios:5c2be8219201318ebfa6d1</string>
</dict>
</plist>